__pycache__/
*.png
*.png
*.pkl
*.json
*.jsonl
fig/
wandb/
*.ipynb_checkpoints/
.venv
.pytest_cache/
.python-version
repl/
*.array_record
data/
**/*.csv
set/
*.old
key

# ignore slurm logging outputs
*.err
*.out

*.DS_Store

bolt
.boltignore

# agent files
*.github
CLAUDE.md
theory
writeup
