__pycache__/
*.png
*.svg
*.pkl
*.json
fig/
wandb/
*.ipynb_checkpoints/
.venv
.pytest_cache/
.python-version
repl/
*.array_record
data/

# ignore slurm logging outputs
*.err
*.out

# agent files
AGENTS.md
journal/
*.github
